<!DOCTYPE html>
<html>

<head>
  <title><%= name %></title>
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="card" style="width: 20rem;">
    <img src="<%= photo %>" class="card-img-top" alt="picture of ad">
  
    <div class="card-body">
      <h5 class="card-title"><%= name %></h5>
      <% if(onSale){ %>
        <p class="card-text" id="type">Looking to sell</p> 
        <% }  else { %>
        <p class="card-text" id="type">Looking to buy</p> 
        <% } %></p>
      <p class="card-text"><%= description %></p>
      <p class="card-text">Price: <%= price %>€</p>
      <p class="card-text">Tags: <%= tags %></p>
      <a href="/" class="btn btn-light">Go back</a>
    </div>
  </div>
  

  
</body>

</html>