<title><%= title %></title>
<link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
<h1><%= title %></h1>
<h2>Welcome to <%= title %>!</h2>
<p>
  <button class="btn btn-primary" id="pink"type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    How to filter ads?
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="info">To filter ads by name: http://localhost:3000/<p class='example'>?name=name</p>. i.e. http://localhost:3000/<p class='example'>?name=beach</p></div>
    
    <div class="info">To filter ads by price: http://localhost:3000/<p class='example'>?price=number</p>. i.e. http://localhost:3000/<p class='example'>?price=20</p>. You can also filter ads
      by min and max price: <p class='example'>?price=-20</p> will return all ads with a price of 10 or lesser, <p class='example'>?price=20-</p> will return all ads with a price of 10 
      or greater and <p class='example'>?price=20-30</p> all ads with a price between 20-30
    </div>
    <div class="info">To filter ads by tags: http://localhost:3000/<p class='example'>?tags=tag</p> (lifestyle, mobile, motor, work) i.e. http://localhost:3000/<p class='example'>?tags=lifestyle</p></div>
    <div class="info">To filter ads by type: http://localhost:3000/<p class='example'>?onSale=true</p> if for items on sale and http://localhost:3000/<p class='example'>?onSale=false</p> for requested items</div>
  </div>
</div>

<div class="row">
  <% docs.forEach(item => { %>
<div class="card" style="width: 13rem;">
  <img src="<%= item.photo %>" class="card-img-top" alt="picture of ad">
  <div class="card-body">
    <h5 class="card-title"><%= item.name %></h5>
    <% if(item && item.onSale){ %>
      <p class="card-text" id="type">Looking to sell</p> 
      <% }  else { %>
      <p class="card-text" id="type">Looking to buy</p> 
      <% } %></p>
    <p class="card-text">Price: <%= item.price %>€</p>
    <a href="/<%= item._id %>" class="btn btn-light">See details</a>
  </div>
</div>
<% }) %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
</body>

</html> 