body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


h2 {
  margin: 30px 0;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.card {
  margin-bottom: 20px;
} 

.card-title, #type {
  font-weight: bold;
}

#pink {
  background-color: #db7093;
  border: 1px solid #db7093;

}

.example {
  font-weight: bold;
  display: inline;
}

.info {
  margin-bottom: 10px;
}